* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #001AC6;
  --mainWhite: #fff;
  --offWhite:#FEE3AD;
  --mainBlack: #222;
  --main: #FFAA00;
  --darkblue: #1B5BAC;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  line-height: 1.4;
  font-family: "Montserrat",sans-serif;
  background: rgba(9,24,122,.631373) url(./Rectangle\ 35.png) 50% no-repeat;
  color: #fff;
  background-blend-mode: soft-light;
  height: 100vh;
  width: 100%;
}


/*  SIGN- UP */
.header {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

form {
  margin-bottom: 2.5rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  position: relative;
}

label {
   font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    cursor: pointer;
}

input {

    height: 2.3rem;
    border-radius: 2px;
    margin-top: 0.3rem;
    padding: 0 0 0 0.5rem;
    border: none;
    font-size: 13px;
    color: #000;
}

span .eye {
    position: absolute;
    margin: auto;
    font-size: 12px;
    left: 105px;
    bottom: 45px;
    color: blue;
    cursor: pointer;
}

.btn {
  display: flex;
  position: relative;
  margin-bottom: .5rem;
}

button {
  background:  #FFAA00;
  color: #fff;
  font-size: .975rem;
  line-height: 1.25rem;
  padding: 0.8rem;
  border: none;
  width: 80%;
  cursor: pointer;
  font-weight: 700;
}

.arrow-right {
  background: rgba(254,227,173,1);
  width: 20%;
  height: 3rem;
  font-size: 2rem;
  padding: 0.8rem;
  border-bottom-right-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  position: absolute;
  top: 46%;
  right: 5%;
  color: black;
}

i:hover {
  color: blue;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgba(251,191,36,1);
  font-weight: 700;
}

.sign-account {
  margin-top: 0.5rem;
  font-size: .875rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 2.5rem;
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .header-name {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  label {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 2.5rem;
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .header-name {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}


/* SIGN IN */

.header-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

p {
  font-size: 1.3rem;
  text-align: center;
  font-weight: lighter;
}
 b {
   font-weight: bolder;
 }

 .form-sigin {
  width: 100%;
  margin-left: 2.5rem;
 }

.signin-container {
   width: 90%;
   margin-top: 5rem;
 }

 .show {
  position: absolute;
  top: 47%;
  right: 5%;
  color: black;
}

.show:hover {
  color: blue;
  cursor: pointer;
}

.signin-btn {
  display: flex;
  position: relative;
  margin-bottom: .5rem;
  width: 90%;
}

button .btn-sign {
  height: 100%;
  margin: auto 0;
  font-size: 16px;
  font-weight: 600;
}
.signin-account {
  margin-top: 0.5rem;
  font-size: .875rem;
  line-height: 1.25rem;
}

@media screen and (min-width: 768px) {
  .signin-container {
   width: 70%;
   margin-top: 5rem;
   margin-left: auto;
   margin-right: auto;
 }

 .signin-btn {
  display: flex;
  position: relative;
  margin-bottom: .5rem;
  width: 70%;
  margin: 0 auto;
}

.signin-account {
  margin-top: 0.5rem;
  font-size: .875rem;
  line-height: 1.25rem;
}
.show {
  position: absolute;
  top: 48%;
  right: 5%;
  color: black;
}

}


@media screen and (min-width: 1024px) {
  .header-signin {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem;
}

p {
  width: 70%;
  text-align: left;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 200;
}

.form-sigin {
  width: 100%;
  margin-left: 3rem;
  height: 60%;
 }

 .signin-container {
   width: 70%;
   margin-top: 5rem;
   margin-left: auto;
   margin-right: auto;
 }

 .signin-btn {
  display: flex;
  position: relative;
  margin-bottom: .5rem;
  width: 70%;
  margin: 0 auto;
}

.signin-account {
  margin-top: 0.5rem;
  font-size: .875rem;
  line-height: 1.25rem;
  margin-left: 5.5rem;
}

}
